* {
  padding: 0;
  margin: 0;
  border: none;
  transition: all ease-in-out 0.3s;
}

html,
body {
 height: 100vh;
  min-width: min-content;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: inherit;
}

h2,
h3,
h4,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
  border-radius: 0;
}

button {
  cursor: pointer;
  user-select: none;
}

input,
button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

.container {
  padding: 10px 10px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 10px;
  }

html,
body {
  height: 100%;
}
}