@import url(fonts.css);
@import url(reset.css);
@import url(signInForm.css);
@import url(header.css);
@import url(regForm.css);

.page {
  font-family: 'OpenSansBold', sans-serif;
  background: url(/img/mainBG.png) center/cover no-repeat;
  color: #fff;
  font-size: 11px;
  max-width: 960px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  margin: auto auto;
}
